@font-face {
  font-family: Montserrat;
  font-weight: normal;
  src: url(../fonts/montserrat/Montserrat-Regular.ttf)
}

font-face {
  font-family: Montserrat;
  font-weight: bold;
  src: url(../fonts/montserrat/Montserrat-Bold.ttf)
}

font-face {
  font-family: Montserrat;
  font-weight: thin;
  src: url(../fonts/montserrat/Montserrat-Thin.ttf)
}

img {
  width: 100%;
}

h1 {
  font-family: Montserrat, sans-serif;
  text-align: center;
  font-weight: bold;
}